BOT_TOKEN="Your Telegram Bot token"  # Optional if BYPASS_TELEGRAM_AUTH is true
BYPASS_TELEGRAM_AUTH=true  # Set to true during tests
FINNHUB_API_KEY="Your FinnHub API key"
PRIVATE_SALE_ACCESS_CODE="private sale code for marketing"